{% extends 'mainbar.html' %}
{% block body %}
<script>
    function depositfunction(){
        document.getElementById("depositamount").value=document.getElementById("amount").value;
        document.getElementById("deposit").submit();
    }
    function withdrawfunction(){
        document.getElementById("withdrawamount").value=document.getElementById("amount").value;
        document.getElementById("withdraw").submit();
    }
    function deletelocalstorage(){
        localStorage.removeItem("machine");
        document.getElementById("redirects").submit();
    }
</script>
<form id="deposit" method="post" action="depositwithdraw">
    <input type="hidden" id="depositamount" name="depositamount">
    <input type="hidden" name="mode" value="deposit">
</form>
<form id="withdraw" method="post" action="depositwithdraw">
    <input type="hidden" id="withdrawamount" name="withdrawamount">
    <input type="hidden" name="mode" value="withdraw">
</form>
    {% if Clearance[4]==1 %}
    <label>Enter Amount</label>
    <input type="number" id="amount" min=0 value=0>
    <button onclick="depositfunction()">deposit</button>
    <button onclick="withdrawfunction()">withdraw</button>
    {% elif Clearance[6]==1 %}
    {% if machine[0]==1 %}
    <form id="registermachine" method="post" action="registermachine">
        <label>Branch Name</label>
        <input name="branchname" type="text" required>
        <label>PC Number</label>
        <input name="pcnumber" type="number" required>
        <button type="submit">Register</button>
    </form>
    <label>not registered</label>
    {% else %}
    <label>{{machine}}</label>
    <button onclick="deletelocalstorage()">Condemn</button>
    <form id="redirects" method="post" action="{{url_for('redirect_to_home')}}"><input name="setmachine" type="hidden" value="{{machine[0]}}"></form>
    {%endif%}
    {% endif %}


{% endblock %}