<!DOCTYPE html>
<head>
    <script>
        function storage(){
            localStorage.setItem("machine", "2");
        }
        function lod(){
            document.getElementById("machineid").value=localStorage.getItem("machine");
            document.getElementById("machinepass").value=localStorage.getItem("pass");
        }
    </script>
</head>
<body style="background-color:pink" onload="lod()">
<form action="loginpass" method="post">
<label>username:</label>
<input type="text" name="username"><br>
<label>password:</label>
<input type="text" name="password"><br>
<input type="hidden" id="machineid" name="machineid">
<input type="hidden" id="machinepass" name="machinepass">
<input type="submit" value="Log in">
</form>
<a href="{{url_for('createaccount')}}"><button>Create account</button></a>
<a href="{{url_for('createaccount')}}"><button>Forgot Password</button></a>
</body>
</html>