{% extends 'mainbar.html' %}
{% block body %}
<head>
    <style>
        table, th, td {
        border: 1px solid black;
        }
    </style>
</head>
<table>
    <tr>
        {%for i in tablehead%}
        {% if i!="Password"%}
        <th>{{i}}</th>
        {% endif%}
        {%endfor%}
        {% if Clearance[3]==1 and tablehead[0]!='ID' and tablehead[0]!='Type' %}
        <th>Action</th>
        {% elif tablehead[0]=='ID' %}
        {% if Clearance[3]==1 %}
        <th>Modify Clearance</th>
        {% endif %}
        {% endif %}
    </tr>
    {%for i in transaction%}
    <tr>
        {%for j in i%}
        {% if i.index(j)!=2 or tablehead[i.index(j)]!="Password" %}
        <td>{{j}}</td>
        {% endif%}
        {%endfor%}
        {% if tablehead[0]=='ID' and i[4]!='SuperAdmin' %}
        <form method="post" action="{{url_for('modifyaccount')}}">
        <input type="hidden" name='userid' value="{{i[0]}}">
        {% if Clearance[3]==1 %}
        <td><select name="clearance">
            <option value="unchange">Unchanged</option>
            {% for k in clearances %}
            {% if k!='Superadmin' %}
            <option value="{{k}}">{{k}}</option>
            {% endif %}
            {% endfor %}
          </select></td>
        {% endif %}
        <td><button type="submit">Modify</button></td>
        </form>
        {% endif %}
    </tr>
    {%endfor%}
</table>
{% endblock %}